<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/paper-input/paper-input.html">
<link rel="import" href="../../lib/paper-item/paper-item.html">
<link rel="import" href="../components/external-link.html">


<dom-module id="add-feed">
  <template>
    <link rel="stylesheet" href="src/styles.css">
    <style>
      .add {
        background-color: var(--app-primary-color);
        margin-top: 2rem;
        color: white;
      }
    </style>

    <div class="card">
      <h1>Add a Feed</h1>
      <paper-input
        label="Feed URL"
        value="{{addURL}}"
        invalid="{{isNotValid}}"
        error-message="{{errorMessage}}"></paper-input>
      <paper-button class="add" on-click="_addFeed">Add</paper-button>
    </div>
    <div class="card">
      <template is="dom-repeat" items="[[feeds]]">
        <paper-item>
          <paper-item-body two-line>
            <external-link href="[[item.link]]" class="header-link">
              [[item.title]]
            </external-link>
            <p>[[item.description]]</p>
          </paper-item-body>
        </paper-item>
      </template>
    </div>
  </template>

  <script src="../rss.js"></script>
  <script>
    var _ = require('lodash');

    class AddFeed extends Polymer.Element {
      static get is() { return 'add-feed' }

      static get properties() {
        return {
          feeds: {
            type: Array,
            notify: true
          }
        }
      }

      _addFeed() {
        if (_.find(this.feeds, f => f.url === this.addURL)) {
          this.isNotValid = true;
          this.errorMessage = 'This feed has already been added!';
          return;
        }

        fetchFeed(this.addURL, (err, info, articles) => {
          if (err) {
            this.isNotValid = true;
            this.errorMessage = err.toString();
          } else {
            this.isNotValid = false;
            this.addURL = '';
            this.push('feeds', info);
          }
        });
      }
    }

    customElements.define(AddFeed.is, AddFeed);
  </script>
</dom-module>
