<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/iron-list/iron-list.html">
<link rel="import" href="../components/external-link.html">

<dom-module id="view-feed">
  <template>
    <h1>My Feed</h1>

    <iron-list items="[[articles]]" as="article">
      <template>
        <div class="article">
          <external-link href="[[article.link]]">
            [[article.title]]
          </external-link>
          <div inner-h-t-m-l="[[article.content]]"></div>
        </div>
      </template>
    </iron-list>
  </template>

  <script>
    Polymer({
      is: 'view-feed',
      properties: {
        articles: {
          type: Array,
          notify: true
        }
      }
    });
  </script>
</dom-module>
